.grid{
    display: grid;
    grid-template-areas: "head head" "menu main" "food food";
}
.a{
    grid-area: head;
    background-color: blue;
}
.b{
    grid-area: menu;
    background-color:rosybrown;
}
.c{
    grid-area: main;
    background-color: green;
}
.d{
    grid-area: food;
    background-color: orange;
}
